---
import { getUrlFromPage } from '~/lib/links'
import type { SheetPage } from '~/lib/page'

export type Props = {
  class?: string
  page?: SheetPage
}
const props = Astro.props as Props
const page = props.page
const url = getUrlFromPage(page, Astro.site)

const t = {
  facebookShare: '分享到 Facebook',
  twitterShare: '分享到 Twitter',
  weiboShare: '分享到微博',
  sheetDescription: ' 开发速查表 - {title}',
  defaultDescription: '专为开发者设计的请求速查表，随时随地查阅，提升工作效率。'
}

const title = page?.frontmatter?.title

const description = title
  ? t.sheetDescription.replace('{title}', title)
  : t.defaultDescription

const tweet = `${description} ${url}`

// prettier-ignore
const facebookURL = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}`
// prettier-ignore
const twitterURL = `https://twitter.com/intent/tweet?text=${encodeURIComponent(tweet)}`
// prettier-ignore
const weiboURL = `https://service.weibo.com/share/share.php?url=${encodeURIComponent(url)}&title=${encodeURIComponent(description)}`
---

<ul class={`social-list ${props.class ?? ''}`}>
  <li class="facebook link hint--bottom" data-hint={t.facebookShare}>
    <a
      href={facebookURL}
      target="share"
      aria-label={t.facebookShare}
      role="button"><span class="text"></span></a
    >
  </li>
  {' '}
  <li class="twitter link hint--bottom" data-hint={t.twitterShare}>
    <a
      href={twitterURL}
      target="share"
      aria-label={t.twitterShare}
      role="button"><span class="text"></span></a
    >
  </li>
  {' '}
  <li class="weibo link hint--bottom" data-hint={t.weiboShare}>
    <a
      href={weiboURL}
      target="share"
      aria-label={t.weiboShare}
      role="button"><span class="text"></span></a
    >
  </li>
</ul>
